{% extends 'app-shell.html' %}


{% load static %}

{% block meta %}
<link rel="stylesheet"  href="{% static 'css/question.css' %}">
<title>Pepew | Question</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h4>Daftar Pertanyaan</h4>
    <div class="container bayar">
    <div class="table-responsive">
    <table class="table table-hover">
                <thead class="thead">
                    <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Pertanyaan</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    {%for question in question%}
                    <td>{{question.Nama}}</td>
                    <td>{{question.Pertanyaan}}</td>
                </tr>
                 {%endfor%}
                </tbody>
    </table>
    </div>
    </div>
</main>
{% endblock content %}