.sembunyi {
    display: none;
}

.questionnaire {
    background-color: var(--biru-langit);
    inline-size: 100%;
    max-inline-size: 750px;
    min-block-size: 500px;
    padding: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.option {
    background-color: var(--biru-laut);
    inline-size: 100%;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 18px;
}

.btn-primary {
    font-family: 'Montserrat';
    color: var(--biru-lambung-kapal);
    background-color: var(--biru-laut);
}

.option input, .option label {
    margin: auto;
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Hanson-Bold';
    margin: auto;
    font-size: 20px;
}

.btn {
    margin: auto !important;
    text-align: center;
    color: var(--putih-awan) !important;
    background-color: var(--biru-lambung-kapal);
    font-family: 'Hanson-Bold';
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}