.survey-entry {
    display: inline-flex;
    max-inline-size: 800px;
    min-block-size: 500px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.survey-entry-box {
    background-color: var(--biru-langit);
    inline-size: 100%;
    max-inline-size: 750px;
    min-block-size: 500px;
    padding: 40px;
    margin: auto;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.navigation-row p{
    text-align: right;
    margin-bottom: 20px;
    color: var(--biru-lambung-kapal);
}

.table-section-label {
    text-align: center;
    font-family: 'Hanson-Bold';
    font-size: 36px;
}

.table-icon {
    width: 46.344px;
}
.table-icon img{
    max-width: 27px;
}
.assessment-info-item {
    display: flex;
}
.assessment-info-item p{
    font-family: 'Montserrat';
    font-size: 20px;
    max-width: 597px;
}

div.button-row{
    background-color: var(--biru-lambung-kapal);
    max-width: 273px;
    min-height: 30px;
    max-height: 60px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 18px;
}

.button-row p {
    font-family: 'Hanson-Bold';
    font-size: 24px;
    margin: 20px;
    text-align: center;
    color: var(--putih-awan);
}

.warning p {
    text-align: center;
}