{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tnc.css' %}">
<title>Screening COVID-19</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<div class="survey-entry">
    <div class="survey-entry-box">
        <div class="survey-entry-content">
            <div class="flexible-row navigation-row">
                <a class="push secondary" href="../" role="button">
                    <p>Cancel</p>
                </a>
            </div>

            <div class="flexible-row content-row">
                <div class="table-section">
                    <h1 class="table-section-label">SCREENING COVID-19</h1>
                    <div>
                        <div class="assesment-info-list">
                            <div class="flexible-row assessment-info-item">
                                <div class="table-icon"> <img src="{% static 'images/Frame 23.png'%}" alt=""> </div>
                                <p>Anda akan menjawab beberapa pertanyaan tentang gejala, perjalanan, dan kontak Anda
                                    dengan orang lain.</p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexible-row assessment-info-item">
                                <div class="table-icon"> <img src="{% static 'images/Frame 24.png'%}" alt=""> </div>
                                <p>Jawaban Anda tidak akan dibagikan dengan SIAPAPUN tanpa izin Anda.</p>
                            </div>
                            <div class="divider-line"></div>
                            <div class="flexible-row assessment-info-item">
                                <div class="table-icon"> <img src="{% static 'images/Frame 25.png'%}" alt=""> </div>
                                <p>Dengan menggunakan alat ini, Anda menyetujui persyaratannya dan bahwa kami tidak akan
                                    bertanggung jawab atas segala kerugian yang berkaitan dengan penggunaan Anda.</p>
                            </div>
                            <div class="divider-line"></div>
                        </div>
                        <div class="flexible-row button-row">
                            <a class="button-row" href="../Questionnaire/" role="button">
                                <p>Mulai</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="survey-entry">
    <div class="survey-entry-box">
        <div class="survey-entry-content">
            <div class="flexible-row content-row">
                <div class="table-section">
                    <h1 class="table-section-label">SCREENING COVID-19</h1>
                    <div class="warning">
                        <p>
                            Anda belum login <br>
                            Silahkan login di bawah ini
                        </p>
                    </div>
                    <div class="flexible-row button-row">
                        <a class="button-row" href="/login-pepew" role="button">
                            <p>Login Now</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}