{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<title>Pepew | News</title>
{% endblock meta %}

{% block content %}
<main class="container"></main>
{% endblock content %}

{% block script %}
<script src="{% static 'scripts/news-detail.js' %}"></script>
{% endblock script %}