{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<title>Pepew | News</title>
{% endblock meta %}

{% block content %}
<div id="news-hero" class="hero">
    <h1>Berita</h1>
</div>

<main class="container">
    
    {% if user.is_authenticated %}
    <div id="question">
        <h2>Ingin menambahkan berita baru ?</h2>
        <div class="button-group">
            <a class="btn pepew-button" id="tulis" href="{% url 'news:news_create' %}">Tulis</a>
        </div>
    </div>
    {% endif %}
    <div id="news-grid"></div>
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'scripts/news-list.js' %}"></script>
{% endblock script %}