{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<title>Pepew | News</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h2 class="sub-title">Bagikan Berita Terbaru</h2>
    <form method="POST" id="form-news">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group">
            <a class="btn pepew-button" href="{% url 'news:news_list' %}"><i class="fas fa-arrow-left"></i>Kembali</a>
            <input id="save-button" type="submit" value="Simpan" class="btn pepew-button" disabled=true>
        </div>
    </form>
</main>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'scripts/news-create.js' %}"></script>
{% endblock script %}