.center {
    text-align: center;
}

.center-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.messages {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid var(--browny);
}

input {
    width: 100%;
}

label {
    font-weight: bold;
    font-size: 1.3em;
}

strong {
    color: #ff392e ;
}