{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/other.css' %}">
<title>Pepew | Login</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h2 class="sub-title">Welcome To Virus Pepew!</h2>
    <form method="POST" action="{% url 'news:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        <table class="table">
            {% for message in messages %}
            <tr>
                <td colspan="2" class="messages center">
                    {{ message }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" name="username" id="username" placeholder="Username..."></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" id="password" placeholder="Password..."></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="button-group" style="margin-top: 0;">
                        <input class="btn pepew-button" type="submit" value="Login" name="Login">
                    </div>
                </td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan="2" class="center">Didn't have an account? <a href="{% url 'news:register' %}">Register Now</a></td>
                </tr>
            </tfoot>
        </table>
    </form>
</main>
{% endblock content %}