{% extends 'app-shell.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/other.css' %}">
<title>Pepew | Register</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h2 class="sub-title">Register Now</h2>
    <p class="center">Already have an account? <a href="{% url 'news:login' %}">Login</a></p>
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="button-group" style="margin-top: 0;">
            <input class="btn pepew-button" type="submit" value="Sign Up" name="Register User">
        </div>
    </form>
</main>
{% endblock content %}
