@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

@font-face{
    font-family:"Hanson-Bold";
    src: local('Hanson-Bold'), url('/static/fonts/Hanson-Bold.ttf') format('truetype');
}

.c-birutua {
    color: #272343;
}

.c-putih {
    color: #FEFEFE;
}

.bgc-birutua {
    background-color: #272343;
}

.bgc-putih {
    background-color: #FEFEFE;
}

.bgc-birumuda {
    background-color:#E3F6F5;
}

.content {
    padding: 35px 80px;
    font-family: 'Montserrat', sans-serif;
}

.small-icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.icon-right {
    margin-right: 0px;
    margin-left: 15px;
}

.header {
    background-image: url('/static/img/jumbotron-rs.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px #FEFEFE;
    text-shadow: 0px 4px 4px rgba(39,35,67,0.25);;
}

.page-title {
    border-bottom: 1px solid #272343;
}

.ff-hanson {
    font-family: 'Hanson-Bold', sans-serif;
}

.table td, .table th {
    border-top: 0px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 7px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 7px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 7px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 7px;
}

table tr td:first-child, table tr th:first-child {
    text-align: center;
}

.wrapper {
    border: 2px solid #272343;
    border-radius: 10px;
}

.section {
    margin-top: 40px;
    padding: 30px 50px;
    border-radius: 15px;
}

.content p, th, td {
    font-size: 1.6rem;
}

.table thead th {
    vertical-align: middle;
}

h4 {
    font-weight: 800;
}

a.link-detail:hover {
    color: #272343;
}

.btn {
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 10px;
    min-width: 150px;
}

.search-btn {
    min-width: fit-content;
}

.search-box {
    display: none;
    background-color: #272343;
    color: #FEFEFE;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 5px 10px;
    box-sizing: border-box;
    text-align: center;
    min-height: 100%;
}

#keyword {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #FEFEFE;
    margin: 0px 5px;
    color: #FEFEFE;
}

#keyword::placeholder{
    color: #FEFEFE;
}

#keyword:focus{
    outline: none;
}

.search-box .btn {
    min-width: fit-content;
    padding: 0px 5px;
}

.btn:hover {
    background-color:#BAE8E8;
    color: #272343
}

#list-rs tbody :hover{
    background-color:#BAE8E8;
}

.form-label {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 15px;
}

.form-control {
    border: none;
    font-size: 1.3rem;
}

.message {
    margin-top: 3.5rem;
    background-color: #272343;
    color: #FEFEFE;
    padding: 25px;
    font-size: 1.65rem;
    text-align: center;
    display: none;
}

#show-search-box, .search-box {
    margin-top: 0.7rem;
}

@media screen and (max-width: 576px) {
    .content {
        padding: 35px 25px;
    }

    #title {
        font-size: 3.7rem;
    }

    .content p, th, td {
        font-size: 1.4rem;
    }

    .btn {
        font-size: 1.4rem;
        padding: 10px;
    }

    .section {
        margin-top: 40px;
        padding: 20px 30px;
        border-radius: 15px;
    }

    .message {
        padding: 20px;
        font-size: 1.5rem;
    }

    .search-box {
        padding: 10px;
    }
}
