{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>Pepew | Tambah Data RS</title>
{% endblock meta%}

{% block content %}
<div class="content container-fluid c-birutua">
    <a class="btn bgc-birutua c-putih mb-5" href="{% url 'rumah_sakit:data-rumah-sakit' %}">
        <img class='small-icon' src="{% static 'img/arrowleft-icon.png' %}">Kembali
    </a>
    
    <h1 class="page-title ff-hanson ">Tambah Data Rumah Sakit</h1>    

    <div class="section bgc-birumuda">
        <form id="rs-form" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p class="form-label">{{ field.label }}</p>
                {{ field }}
            {% endfor %}
            <div class="text-center mt-4">
                <button type="submit" class="btn-default btn bgc-birutua c-putih">Tambah</button>
            </div>
        </form>
        <div class="message"></div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'js/addRumahSakit.js' %}"></script>
{% endblock script %}