{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Pepew | Daftar RS Rujukan</title>
{% endblock meta%}

{% block content %}
<div class="container-fluid py-5 header">
    <h1 id="title" class="ff-hanson c-birutua">Daftar<br>Rumah Sakit</h1>    
</div>

<div class="content container-fluid">
    <div class="d-flex flex-column flex-md-row align-content-center p-0">
        {% if user.is_authenticated %}
        <a class="btn bgc-birutua c-putih" href="{% url 'rumah_sakit:add-rumah-sakit' %}">
            <img class='small-icon' src="{% static 'img/plus-icon.png' %}">Tambah Rumah Sakit
        </a>
        {% endif %}
        <div id="show-search-box" class="btn bgc-birutua c-putih search-btn ml-md-auto mt-md-0">
            <i class="fa fa-search" aria-hidden="true"></i> Search
        </div>
        <div class="search-box align-content-center ml-md-auto mt-md-0">
            <span id="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input id="keyword" type="text" placeholder="Masukkan kata kunci">
            <div id="hide-search-box" class="d-inline-block btn p-0">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    
    
    <div class="wrapper  mt-4 bgc-birumuda c-birutua">
        <table id="list-rs" class="table mb-0">
            <thead>
                <tr class="c-putih bgc-birutua">
                    <th>No</th>
                    <th>Nama Rumah Sakit</th>
                    <th>Provinsi</th>
                </tr>
            </thead>
            <tbody id="rs">
                {% if daftarRumahSakit %}
                {% for rumahSakit in daftarRumahSakit %}
                <tr class="c-birutua bgc-birumuda">
                    <td>{{ forloop.counter }}</td>
                    <td><a class="link-detail c-birutua" href="{% url 'rumah_sakit:detail-rumah-sakit' rumahSakit.id %}">{{ rumahSakit }}</a></td>
                    <td>{{ rumahSakit.provinsi }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td class="text-center" colspan="3">Tidak ada data rumah Sakit</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'js/dataRumahSakit.js' %}"></script>
{% endblock script %}