{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/donate.css' %}">
<title>Pepew | Donate</title>
{% endblock meta %}

{% block content %}
<section id="jumbotron">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    </div>
</div>
</section>
<main class="container">
     <form  id="formDonateId" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group">
            <button class="btn pepew-button" type="submit">Submit</button>
        </div>
    </form>
</main>
<style>
#jumbotron .jumbotron {
    background-image: url("/static/images/buatjumbo.jpg");
    background-size: cover;
    background-position: center;
    padding: 13%;
}
</style>
{% endblock content %}
{% block script %}
<script src="{%static 'js/donate.js' %}"></script>
{% endblock script %}
