{% extends 'app-shell.html' %}


{% load static %}

{% block meta %}
<link rel="stylesheet"  href="{% static 'css/donate.css' %}">
<title>Pepew | Donate-List</title>

{% endblock meta %}

{% block content %}
<main class="container">
    <h4>Terima Kasih!</h4>
    <div class="container bayar">
    <div class="table-responsive">
    <table class="table table-hover">
                <thead class="thead">
                    <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Jumlah Donasi</th>
                    <th scope="col">Pesan</th>
                    </tr>
                </thead>
                <tbody>
                <tr id="listDonate">
                    {%for donate in donate%}
                    <td>{{donate.Nama}}</td>
                    <td>{{donate.Jumlah}}</td>
                    <td>{{donate.Pesan}}</td>
                </tr>
                 {%endfor%}
                </tbody>
    </table>
    </div>
    </div>
</main>
{% endblock content %}

{% block script %}
<script src="{%static 'js/donate.js' %}"></script>
{% endblock script %}