{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/donate.css' %}">
<title>Pepew | Feedback</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<main class="container">
     <form  id="reviewForm" action="" method="POST">
        {% csrf_token %}
        {{ rev.as_p }}
        <div class="button-group">
            <button  id="createFeed" class="btn pepew-button" type="submit">Submit</button>
        </div>
    </form>
    <div class="row mt-5 justify-content-center">
        <div class="col-6" id="feedList">
    {% for donate in res %}
        <div class="card mb-1" style="background-color:#E3F6F5" data-id="{{ donate.id }}">    
            <div class="card-body" style="color:#272343">
                {{ donate.Feedback }}
            </div>
        </div>
    {% endfor %}
</div>
</div>
</main>

{%endblock content%}
{% block script %}
<script src="{%static 'js/donate.js' %}"></script>
{% endblock script %}